@use "../utilities/variables" as *;

@use "../utilities/mixin" as *;
/*archivo mobile*/
/*estilos para mobile*/

.no-mobile{
    display: none;
}
/*redes de what oculta*/
.whatsapp{
    display: none;
}
/*se visualiza boton flotante de what*/
.whatsapp-btn {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 25px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  text-decoration: none;
  transition: transform 0.3s ease;
}

/* si se apreta el logo del whatsapp */
.whatsapp-btn:active {
  transform: scale(1.1);
  background-color: #128c7e;
}