@use "../utilities/variables" as *;

@use "../utilities/mixin" as *;
/*archivo de videos*/
/*estilos de videos de youtube*/

iframe{
    @include bloque;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    height: auto;
    margin: auto;
    padding: 4px;
    border-radius: 15px;
    border: 6px solid $color-principal;
    outline: 2px solid $color-enlaces;    
}