//variables

$color-principal: #eec1e3;
$color-secundario: #c29ffa;
$color-enlaces: rgb(10,10,173);
$color-subrayado: rgb(100,100,204);
$color-texto: #444;
$fuente-principal: sans-serif;
$color-hover: #6610f2;
$color-summary: #6f42c1;
$color-tarjeta: #e7e2f8;
